html, body {
  margin: 20px;
}

.exercise-container {
	background: #fff;
}

.admin-container {
	background: #C0C0C0;
}

.navbar-fixed-top {
    background-color: #E2007B;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.alert-posted {
	background-color: #FFE6F4;
}

.btn-keyword.btn-outline {
	color: #E2007B;
	background-color: #fff;
	border-color: #E2007B;	
}
.btn-keyword.btn-outline:hover {
	color: #fff;
	background-color: #E2007B;
}

.btn-pinkelefant {
	color: #fff;
	background-color: #E2007B;
	border-color: #E2007B;
}

.btn-pinkelefant:hover,
.btn-pinkelefant:focus,
.btn-pinkelefant:active,
.open .dropdown-toggle.btn-pinkelefant {
	color: #fff;
	background-color: #B50062;
	border-color: #B50062;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #E2007B;
  color: #fff;
  cursor: pointer;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 10px 28px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
  color:#333;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
 }
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #E2007B;
  border-color: #E2007B;
}

.panel-activated {
	border-color: #E2007B;
}
.panel-activated > .panel-heading {
	color: #fff;
	background-color: #E2007B;
	border-color: #E2007B;
}

.dropdown-toggle-white {
    color: #FFFFFF;
}

.form-control:focus {
  border-color: #E2007B;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(226, 0, 123, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(226, 0, 123, .6);
}