<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">
	<persistence-unit name="pews">
		<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
		
		<class>ch.zhaw.iwi.cis.pews.model.IdentifiableObject</class>
		<class>ch.zhaw.iwi.cis.pews.model.OwnableObject</class>
		
		<class>ch.zhaw.iwi.cis.pews.model.data.ExerciseDataImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.data.WorkflowElementDataImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.data.WorkshopDataImpl</class>
		
		<class>ch.zhaw.iwi.cis.pews.model.definition.ExerciseDefinitionImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.definition.WorkflowElementDefinitionImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.definition.WorkshopDefinitionImpl</class>
		
		<class>ch.zhaw.iwi.cis.pews.model.instance.ExerciseImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.instance.SessionImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.instance.WorkflowElementImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.instance.WorkflowElementStatusHistoryElementImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.instance.WorkshopImpl</class>
		
		<class>ch.zhaw.iwi.cis.pews.model.user.CredentialImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.user.GroupImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.user.PasswordCredentialImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.user.PrincipalImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.user.RoleImpl</class>
		<class>ch.zhaw.iwi.cis.pews.model.user.UserImpl</class>
		
		<properties>
			<property name="javax.persistence.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver" />
			<property name="javax.persistence.jdbc.url" value="jdbc:derby://localhost:1527/pewsDB;create=true" />
			<property name="javax.persistence.jdbc.user" value="pews" />
			<property name="javax.persistence.jdbc.password" value="pews" />
			<property name="hibernate.hbm2ddl.auto" value="create" />
			<property name="hibernate.show_sql" value="true" />
		</properties>
	</persistence-unit>
</persistence>
